/* Reseta estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Cores principais */
:root {
    --roxo-claro: #e0e0eb; /* Roxo claro */
    --roxo-médio: #8b00ff; /* Roxo médio */
    --roxo-escuro: #4b0082; /* Roxo escuro */
    --roxo-escuro-2: #2e003e; /* Roxo muito escuro */
    --cinza-claro: #7e7474;
    --cinza-texto: #222222;
}

/* Estilos do Body */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--roxo-claro) !important;
}

/* Estilos do Main */
.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--roxo-escuro-2);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--roxo-claro);
    text-align: center;
}

.container h1 {
    font-size: 28px;
    color: var(--roxo-claro);
    margin-bottom: 20px;
}

/* Estilos do formulário PIX */
#pix-form label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: var(--roxo-claro);
}

#pix-form select,
#pix-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilos do botão de confirmação */
#pix-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--roxo-médio);
    border: none;
    color: var(--roxo-claro);
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

#pix-form button:hover {
    background-color: var(--roxo-escuro);
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}
