* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: #e98d58; 
}

.cabecalho {
    font-family: "Oswald", sans-serif;
    width: 100%;
    height: 130px;
    color: white;
    background-color: #D25A29; 
    display: flex;
    align-items: center; 
    padding-left: 20px;
}

.cabecalho__conteudo__botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cabecalho__conteudo__botao i {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin-bottom: 5px;
}

.cabecalho__conteudo__botao span {
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

.cabecalho__conteudo__botao:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    color: yellow;
}

.cabecalho__conteudo {
    margin-left: 20px; 
    font-size: 40px;
}

.cabecalho__botao-sair {
    margin-left: auto; 
}

.saldo {
    font-family: "Oswald", sans-serif;
    width: 350px; 
    height: auto;
    padding: 30px; 
    border: 2px solid #00720d;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-left: auto; 
}

.saldo h2 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
    font-size: 40px; 
    color: #333;
}

.saldo-valor {
    display: flex;
    align-items: center; 
}

.saldo-valor-texto {
    font-family: "Oswald", sans-serif;
    font-size: 30px; 
    color: #00720d; 
    margin-top: 1px;
    margin-right: 10px; 
}

.saldo button {
    font-family: "Oswald", sans-serif;
    color: #ffffff; 
    font-size: 20px; 
    background-color: #D25A29;
    width: 100%;
    height: 40px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.saldo button:hover {
    background-color: #00720d;
    color: yellow;
}

.sidebar {
    position: fixed; 
    top: 0; 
    left: -250px;
    width: 250px; 
    height: 100vh; 
    background-color: white; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    z-index: 100; 
    transition: left 0.3s ease; 
}

.sidebar.open {
    left: 0; 
}

.sidebar h2 {
    font-size: 24px; 
    margin-bottom: 10px;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f99168;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #D25A29; 
}

.voltar-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px; 
    background-color: #D25A29; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.voltar-button:hover {
    background-color: #b04d1f; 
}

.saldo i {
    font-size: 2.5rem; 
    cursor: pointer; 
    margin-left: 20px; 
    margin-bottom: 10px; 
}
