<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="tela-inicial.component.css"> <!-- Link para o CSS -->
  <title>NEOBank</title>
</head>

<body>
  <header>
    <div class="header-container">
      <h1>NEOBank: Seu futuro financeiro!</h1>
    </div>
  </header>

  <main class="container">
    <div class="form-saldo">
      <form id="saldo-form">
        <label for="saldo">Saldo Atual:</label>
        <div class="saldo">
          <span>R$</span>
          <span id="valor-saldo">1.250,00</span>
        </div>
      </form>
    </div>

    <div class="form-funcionalidade">
      <h3>Menu de funcionalidades</h3>
      <form id="funcionalidade-form">
        <label for="acao">Escolha a ação:</label>
        <select id="acao" name="acao" required>
          <option value="extrato">Verificar meu extrato</option>
          <option value="pix">Realizar PIX</option>
          <option value="recarga">Recarga de celular</option>
          <option value="investimentos">Investimentos</option>
          <option value="seguros">Seguros</option>
          <option value="pagar_conta">Pagar uma conta</option>
          <option value="simular_imprest">Simular impréstimo</option>
        </select>
        <button type="submit">Confirmar Ação</button>
      </form>
    </div>
  </main>

  <footer>
    <p>&copy; 2024 Seu Banco. Todos os direitos reservados.</p>
  </footer>
</body>

</html>
