.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #D25A29; 
}

.titulo {
    color: #00720d;
    text-align: center;
    margin-top: 50px; 
    font-size: 20px; 
}

.form-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 50px auto; 
    width: 420px;
    background-color: #F2E0D5; 
    border: 2px solid transparent;
    backdrop-filter: blur(20px);
    font-size: 36px;
    border-radius: 10px;
    padding: 30px;
    font-family: "Inter", sans-serif;
}

.campo__cadastro {
    width: 100%;
    margin: 10px 0; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #00720d; 
    background-color: transparent; 
    color: #00720d; 
    border-radius: 10px; 
    outline: none;
}

.campo__cadastro__salvar {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 22px;
    background-color: #00720d;
    color: #D25A29;
    border: none;
    cursor: pointer;

    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    border-radius: 10px;
}

.campo__cadastro__salvar:hover {
    background-color: #A9A9A9; 
    color: #ffffff; 
}

.campo__cadastro:hover,
.campo__cadastro:focus {
    border-color: #00720d; 
}

.campo__cadastro__voltar {
    margin-top: 20px; 
    width: 100%; 
    padding: 10px; 
    background-color: #00720d; 
    color: #D25A29; 
    border: none; 
    border-radius: 10px; 
    font-size: 22px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.campo__cadastro__voltar:hover {
    background-color: #A9A9A9;
    color: #ffffff; 
}
